<head>
    <title>register page</title>
</head>

<body>
    <h1>welcome to register page</h1>
    <form action="/insertdata" method="post">
        <table border="1px">
            <tr>
                <td>Name</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>city</td>
                <td><input type="text" name="usercity"></td>
            </tr>
            <tr>
                <td>email</td>
                <td><input type="email" name="useremail"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="userpassword"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>

    </form>
</body>